body {
    width: 900px;
    margin: auto;
    font-family: sans-serif;
    text-align: justify;
}
.intro {
    #border-bottom: solid black 1px;
    #background-color: lightgray;
    align-content: center;
}

.info {
    #border-bottom: solid black 1px;

}
h2 {
    text-align: left;
    border-bottom: solid black 1px;
    margin-bottom: 5px;


}
h3 {
    text-decoration: underline;
    margin-bottom: 5px;
}
p {
    line-height: 1.2;
}

.exp-container {
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 30px;
}
.heading-container  {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    gap: 50px;
    border-bottom: solid black 1px;



}
ul {
    margin: 0;
    #line-height: 30px;
}
.info-container {
    display: flex;
    gap: 20px;

}

.name {
    font-size: 32px;
    #margin-bottom: 10px;
}

.date {
    #font-style: italic;
    background-color: aliceblue;
    text-align: right;
}
.job-title {
    font-size: 20px;
    font-weight: bold;
}
.left-container {
    display: flex;
    flex-direction: column;
    align-content: end;
}
.place {
    #font-size: 14px;
    display: inline;
    #font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}
.company {

}

.exp-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}