body {
    width: 900px;
    margin: auto;
    font-family: sans-serif;
}
h2 {
    text-align: center;
}
h3 {
    text-decoration: underline;
}
p {
    line-height: 1.2;
}

.exp-container {
    display: flex;
    text-align: justify;
    flex-direction: column;
    gap: 40px;
}

.name {
    font-size: 36px;
}

.date {
    font-style: italic;
    background-color: aliceblue;
    text-align: right;
}
.place {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}

.exp-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}